    <div class="by">
      <a routerLink="['user', comment.by]">{{ comment.by }}</a>
      {{ comment.time | timeAgo }} ago
      <span *ngIf="comment.kids && comment.kids.length">
        | <a class="expand" (click)="open = !open">
          {{ (open ? 'collapse ' : 'expand ')}}
          <!-- {{ (open ? 'collapse ' : 'expand ') + pluralize(comment.kids.length) }} -->
        </a>
      </span>
    </div>
    <div class="text" [innerHtml]="comment.text"></div>
    <ul class="comment-children" v-show="open">
      <comment-view *ngFor="let id of comment.kids" [id]="id"></comment-view>
    </ul>
