:host {
	background-color: #fff;
	padding: 20px 30px 20px 80px;
	border-bottom: 1px solid #eee;
	position: relative;
	line-height: 20px;
}

:host .score {
	color: #f60;
	font-size: 1.1em;
	font-weight: 700;
	position: absolute;
	top: 50%;
	left: 0;
	width: 80px;
	text-align: center;
	margin-top: -10px;
}

:host .meta,
:host .host {
	font-size: 0.85em;
	color: #999;
}

:host .meta a,
:host .host a {
	color: #999;
	text-decoration: underline;
}

:host .meta a:hover,
:host .host a:hover {
	color: #f60;
}
